<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{name}}</title>
    <!--<meta name="description" content="Cameron Hunter is a software engineer from Belfast, Northern Ireland, working for Twitter in San Francisco, California" />-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta property="twitter:account_id" content="{{twitter_id}}" />

    <!-- build:script inline google-analytics -->
    <!--<script src="/js/google-analytics.js"></script>-->
    <!-- /build -->

    <script src="//use.typekit.net/les3dve.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- build:style inline main -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <!-- /build -->
    <style>
        body:before {
          background: #040409 url({{banner_url}}) no-repeat center center fixed;
        }
    </style>
</head>
<body>
<div id="container">
    <article id="about" class="vcard">
        <header>
            <img class="photo" src="{{avatar_url}}"/>
            <a href="#" rel="me" class="fn url">
                <h1>{{name}}</h1>
            </a>
            <div id="details">
                <span class="title">Software Engineer</span> at <a href="http://www.twitter.com" class="org">Twitter</a> &mdash;
                <span class="adr">
              <span class="locality">San Francisco, California</span>
            </span>
            </div>
        </header>
        <section id="contact">
            <ul>
                <li><a href="mailto:hello@cameronhunter.co.uk" title="Email" rel="me">Email</a></li>
                <li><a href="http://twitter.com/cameronhunter" title="Twitter" rel="me">Twitter</a></li>
                <li><a href="http://github.com/cameronhunter" title="Github" rel="me">GitHub</a></li>
                <li><a href="http://facebook.com/cameronhunter" title="Facebook" rel="me">Facebook</a></li>
                <li><a href="http://linkedin.com/in/cameronhunter" title="LinkedIn" rel="me">LinkedIn</a></li>
            </ul>
        </section>
    </article>
</div>
</body>
</html>